*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

:root {
  --background-color: #ccc;
  /* --border: 2px solid rgba(0, 0, 0, 0.61); */
}

div{
  border: var(--border);
}

body{
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: var(--border);
}

.header-section{
    font-size: 3rem;
    text-align: center;
    height: 50px;
    
    margin: 15px;

}

.turn-section{
  font-size: 30px;
  text-align: center;
}

.score-section {
  display: flex;
  justify-content: space-around;
}

.player{
  font-size: 20px;
}

.body-section{
   flex: 1;

    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    place-content: center;

    margin: 20px;
}

.cell{
  border: 1px solid black;
  padding: 22px;
  font-size: 4rem;
  text-align: center;
}

.restart{
  height: 40px;
  width: 120px;
  margin: 50px;
  font-size: 15px;

  align-self: center;
}